In [2]:
#IMPORTO LAS LIBRERIAS

import pandas as pd
import numpy as np

In [4]:
#IMPORTO EL ARCHIVO Y VISUALIZO TIPOS DE DATOS

data_location = "./Data/properati.csv"
data = pd.read_csv(data_location)
data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [144]:
#ARMO UN DATAFRAME CON LAS COLUMNAS DE GEOLOCALIZACION

data_geolocation = data.loc[ : , ["geonames_id", "lat-lon", "lat", "lon"]]
data_geolocation.head(20)

    geonames_id                        lat-lon        lat        lon
0     3430787.0        -34.6618237,-58.5088387 -34.661824 -58.508839
1     3432039.0        -34.9038831,-57.9643295 -34.903883 -57.964330
2     3430787.0        -34.6522615,-58.5229825 -34.652262 -58.522982
3     3431333.0        -34.6477969,-58.5164244 -34.647797 -58.516424
4     3435548.0        -38.0026256,-57.5494468 -38.002626 -57.549447
5     3433657.0         -33.0140714,-58.519828 -33.014071 -58.519828
6     3430511.0        -34.5329567,-58.5217825 -34.532957 -58.521782
7     3436077.0         -34.5598729,-58.443362 -34.559873 -58.443362
8     3436077.0         -34.5598729,-58.443362 -34.559873 -58.443362
9     3838574.0         -32.942031,-60.7259192 -32.942031 -60.725919
10    3860259.0        -31.4200833,-64.1887761 -31.420083 -64.188776
11          NaN        -34.5390571,-58.7196093 -34.539057 -58.719609
12    3430813.0        -34.4860195,-58.5038139 -34.486019 -58.503814
13    3430234.0                            NaN        NaN        NaN
14    3430234.0                            NaN        NaN        NaN
15    3436061.0  -34.5879112015,-58.6987828445 -34.587911 -58.698783
16    3430787.0  -34.6523561177,-58.5016239381 -34.652356 -58.501624
17          NaN  -34.4087174767,-58.6343892841 -34.408717 -58.634389
18    3427753.0         -34.425087,-58.5796585 -34.425087 -58.579659
19    3430234.0   -34.580503566,-58.4058744847 -34.580504 -58.405874

In [28]:
# SE OBSERVA A SIMPLE VISTA QUE LA COLUMNA "LAT-LON" CONTIENE LA MISMA INFORMACION QUE LA COLUMNAS "LAT" Y "LON"
# PERO CON UN RECORTE EN LOS DECIMALES DE 6 PUNTOS
# SE DECIDE PROCEDER A:
# ---- AJUSTAR LA CANTIDAD DE DECIMANLES A 6 PUNTOS EN LAT-LON
# ---- ELIMINAR LAS COLUMNAS LAT Y LON

In [19]:
data.loc[ 13:16 , :]
geoid = (data.geonames_id ==3430234)
data[geoid]

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430234,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3430234,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430234,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3430234,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430234,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121215,121215,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3430234,NaN,NaN,...,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...
121216,121216,sell,house,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3430234,NaN,NaN,...,360.0,1383.333333,1383.333333,NaN,NaN,NaN,http://www.properati.com.ar/1cja6_venta_casa_b...,Excelente e impecable casa en Venta en Las Lom...,Ruca Inmuebles | Venta | Lomas de San Isidro |...,https://thumbs4.properati.com/2/PCc3WuQDjpNZc4...
121217,121217,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,3430234,"-34.5706388726,-58.4755963355",-34.570639,...,39.0,2858.695652,3371.794872,NaN,NaN,NaN,http://www.properati.com.ar/1cja7_venta_depart...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,https://thumbs4.properati.com/9/YAe_-2gRVykADP...
121218,121218,sell,apartment,Plaza Colón,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430234,NaN,NaN,...,48.0,1997.916667,1997.916667,NaN,NaN,NaN,http://www.properati.com.ar/1cja8_venta_depart...,"2 Amb al contrafrente, luminoso. El departame...",2 amb. C/ dep. de servicio al contrafrente| Re...,https://thumbs4.properati.com/8/Q12PTvU6BQJ0ib...
121219,121219,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3430234,NaN,NaN,...,77.0,1675.324675,1675.324675,NaN,NaN,3500.0,http://www.properati.com.ar/1cjaa_venta_depart...,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro,https://thumbs4.properati.com/8/mNEsnQWqB7joBF...

In [164]:
nulos = data_geolocation.isnull()
nulos.sum()

geonames_id    18717
lat-lon        51550
lat            51550
lon            51550
dtype: int64

In [302]:
lat_rounded = data_geolocation['lat'].round(6)
lat_rounded_string = lat_rounded.astype(str)
lon_rounded = data_geolocation['lon'].round(6)
lon_rounded_string = lon_rounded.astype(str)
new_lat_lon = lat_rounded_string + "," +lon_rounded_string
#new_lat_lon

In [303]:
data_geolocation['new_lat_lon'] = new_lat_lon

In [237]:
redundante = ['lat-lon','lat', 'lon']
new_data_geolocation = data_geolocation.drop(redundante, axis = 1)
new_data_geolocation.head(20)

    geonames_id            new_lat_lon
0     3430787.0  -34.661824,-58.508839
1     3432039.0   -34.903883,-57.96433
2     3430787.0  -34.652262,-58.522982
3     3431333.0  -34.647797,-58.516424
4     3435548.0  -38.002626,-57.549447
5     3433657.0  -33.014071,-58.519828
6     3430511.0  -34.532957,-58.521782
7     3436077.0  -34.559873,-58.443362
8     3436077.0  -34.559873,-58.443362
9     3838574.0  -32.942031,-60.725919
10    3860259.0  -31.420083,-64.188776
11          NaN  -34.539057,-58.719609
12    3430813.0   -34.48602,-58.503814
13    3430234.0                nan,nan
14    3430234.0                nan,nan
15    3436061.0  -34.587911,-58.698783
16    3430787.0  -34.652356,-58.501624
17          NaN  -34.408717,-58.634389
18    3427753.0  -34.425087,-58.579658
19    3430234.0  -34.580504,-58.405874

In [ ]:
# CON EL FIN DE COMPLETAR LOS NULOS SE PROCEDE A:
# ---- BUSCAR UNA RELACION CON LA COLUMA "PLACE_NAME"
# ---- COMPLETAR CAMPOS NULOS

In [236]:
new_data_geolocation.isnull().sum()

geonames_id    18717
new_lat_lon        0
dtype: int64

In [ ]:
# ACA OJO QUE LOS NULL DEL NEW_LAT_LON QUEDARON COMO STRING Y NO LOS TOMA COMO NULOS

In [23]:
data[["place_name","place_with_parent_names","country_name","state_name",'lat-lon','lat', 'lon']]

,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon
0,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,"-34.6618237,-58.5088387",-34.661824,-58.508839
1,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,"-34.9038831,-57.9643295",-34.903883,-57.964330
2,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,"-34.6522615,-58.5229825",-34.652262,-58.522982
3,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,"-34.6477969,-58.5164244",-34.647797,-58.516424
4,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,"-38.0026256,-57.5494468",-38.002626,-57.549447
...,...,...,...,...,...,...,...
121215,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN
121216,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN
121217,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5706388726,-58.4755963355",-34.570639,-58.475596
121218,Plaza Colón,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,NaN,NaN,NaN
121219,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,NaN,NaN,NaN

In [54]:
belgrano_mask = data.place_name=="Belgrano"

print(belgrano_mask)
valores= data.loc[belgrano_mask,["place_name","place_with_parent_names","country_name","state_name",'lat-lon','lat', 'lon']]
print(valores.mean())
valores

0         False
1         False
2         False
3         False
4         False
          ...
121215     True
121216    False
121217    False
121218    False
121219    False
Name: place_name, Length: 121220, dtype: bool
lat   -34.563541
lon   -58.453904
dtype: float64

,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon
7,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5598729,-58.443362",-34.559873,-58.443362
8,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5598729,-58.443362",-34.559873,-58.443362
57,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5639725,-58.456535",-34.563972,-58.456535
120,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5626966465,-58.4601567114",-34.562697,-58.460157
210,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5620844,-58.4566864",-34.562084,-58.456686
...,...,...,...,...,...,...,...
121147,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN
121157,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN
121160,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.563685346,-58.4426825896",-34.563685,-58.442683
121209,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.563685346,-58.4426825896",-34.563685,-58.442683
121215,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN